@layout LoginLayout
@page "/loginView"

<div class="d-md-flex h-md-100 align-items-center meia-tela">
    <div class="col-md-6 p-0 h-md-100 background-cliente" style="height:100%;">
        <LoginImage></LoginImage>
    </div>
    <div class="col-md-6 p-0 bg-white h-md-100">
        <LoginForm></LoginForm>
    </div>
</div>



@code {


}
