<div class="text-white d-md-flex align-items-center h-100 p-5 text-center justify-content-center">
    <div class="font-30">
        <div class="font-50 font-cliente">         
            <img src="../../_content/img/background/Logos/LogoCM.png" width="100%"/>
        </div>
    </div>
</div>

@code {

}
