@using Microsoft.AspNetCore.Http
@using BLL.Admin.Interfaces
@using Models.Admin

@inject IUsuarioBLL usuarioBLL
@inject NavigationManager NavigationManager
@inject IHttpContextAccessor httpContextAccessor



<Router AppAssembly="@typeof(Program).Assembly">
    <Found Context="routeData">
        <RouteView RouteData="@routeData" DefaultLayout="@typeof(AppLayout)" />
    </Found>
    <NotFound>
        <LayoutView Layout="@_appLayout">
            <p>Sorry, there's nothing at this address.</p>
        </LayoutView>
    </NotFound>
</Router>
@code{


    private Type _appLayout = typeof(AppLayout);


    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        //var email = httpContextAccessor.HttpContext.Session.GetString("usuario");
        //if (!string.IsNullOrEmpty(email))
        //{
        //    Usuario usuario = await usuarioBLL.GetUsuarioPeloEmail(email);
        //    if (await usuarioBLL.UsuarioEstaLogado(usuario))
        //    {
        //        await base.OnAfterRenderAsync(firstRender);

        //    }
        //}
        //else
        //{
        //    _appLayout = typeof(LoginLayout);
        //    NavigationManager.NavigateTo("loginView");
        //    return;
        //}
    }
}