
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <NavLink class="nav-link" href="/">
        <img src="/_content/img/background/Logos/LogoCM.png" class="img-brand" />
    </NavLink>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navBarManuToggle" aria-controls="navBarManuToggle" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navBarManuToggle">
        <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
            <div class="dropdown">
                <MatButton Label="Cadastros" Id="dropDownMenuSegmento" Attributes="atributosMenuSegmento"></MatButton>
                <div class="dropdown-menu" aria-labelledby="dropDownMenuSegmento">
                    <NavLink class="nav-link" href="usuarioFormComponent" target="_self">
                        Usuarios
                    </NavLink>
                    <NavLink class="nav-link" href="tipoDespesa" target="_self">
                        Tipo de Despesas
                    </NavLink>
                </div>
            </div>
            <div class="dropdown">
                <MatButton Label="Despesas" Id="dropDownMenuSegmento" Attributes="atributosMenuSegmento"></MatButton>
                <div class="dropdown-menu" aria-labelledby="dropDownMenuSegmento">
                    <NavLink class="nav-link" href="desp" target="_self">
                        Despesas
                    </NavLink>
                </div>
            </div>
        </ul>
    </div>
</nav>

@code {


    Dictionary<string, object> atributosMenuSegmento { get; set; } = new Dictionary<string, object>()
{
            { "data-toggle","dropdown" },
            { "aria-haspopup","true" },
            {"aria-expanded","false" }
        };


}
